<nav id="menu-wrap">
<ul id="menu">
    <li><a href="/Home/Index">Index</a></li>
    <li><a href='#'>Database</a></li>
    <ul class="sub-menu">
        <li><a href="/DataBase/CreateSchemaUpdate">Gerar Script de atualização</a></li>
    </ul>
    <li><a href='#'>Bilhetes</a></li>
    <ul class="sub-menu">
        <li><a href="/Billet/CheckLastDay">Checar Sync</a></li>
    </ul>
</ul>
</nav>
